<!DOCTYPE html>
<html>

<head>
	<title>
		How to Create a Reset Button
		in form using HTML?
	</title>
</head>

<body style="text-align:center;">

	<h1 style="color:green;">
		GeeksforGeeks
	</h1>

	<h2>
		How to Create a Reset Button
		in form using HTML?
	</h2>

	<form>
		Email ID:
		<input type="email">
		<br>
		<br> Password:
		<input type="password">
		<br><br>

		<input type="submit">
		<input type="reset">
	</form>
</body>

</html>
